body{
    background-image:url(assets/Design\ sem\ nome\ \(2\).png);
}
.azul{
    background-color: rgb(60, 60, 131);
    justify-items: center;
    color: white;
    padding: 10px;
}
.fundo{
    background-color: rgb(214, 214, 102);
    padding: 10px;
    display: inline;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: 800px;
    border-radius: 10px;
    border: solid black;
}
input{
    width: 270px;
}
select{
    width: 270px;
}